  <header>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        
      <a class="navbar-brand text-light" href="/">Safe'Rider</a>

        <ul class="navbar-nav me-auto mb-3 mb-lg-0 gap-3">


          <div class="btn-group">
            <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Motos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/search">Toutes les motos</a></li>
              {{#authenticated}}
              <li><a class="dropdown-item" href="/create">Ajouter une moto</a></li>
              {{/authenticated}}
            </ul>
          </div>

          {{#authenticated}}
          <li class="nav-item">
            <a href="/garage">Mon garage</a>
          </li>

          <li class="nav-item">
            <a href="/logout">Se déconnecter</a>
          </li>
          {{/authenticated}}
        </ul>

        <form class="d-flex" role="search" action="/search">
          <input class="form-control me-2" type="search" placeholder="Rechercher une moto" name="query" aria-label="Search" value="{{query}}">
          <button class="btn btn-secondary bg-primary" type="submit">Rechercher</button>
        </form>
      </div>
    </nav>
  </header>